<!--
;============================================
; Title:  Assignment 9.3 | (Final Milestone)
; Author: Richard Krasso
; Date:   April 21 2019
; Modified By: Aaron Wilson
; Description: EMS | Footer, EJS View.
;=============================================
-->

<footer>

  <p>

    &copy; 2019 VisionsICStudios | WEB 340 | EMS Project

  </p>

</footer>

</body>

</html>
