<!--
;============================================
; Title:  Assignment 9.3 | (Final Milestone)
; Author: Richard Krasso
; Date:   April 21 2019
; Modified By: Aaron Wilson
; Description: EMS | Navbar, EJS View.
;=============================================
-->

<nav class="navbar navbar-expand-sm bg-primary">

    <ul class="navbar-nav">

        <li class="nav-item active">

            <a class="nav-link text-white" href="/">Dashboard</a>

        </li>

    </ul>

</nav>
