<!--
;============================================
; Title:  Assignment 3.4 | contact.ejs
; Author: Richard Krasso
; Date:   March 29 2019
; Modified By: Aaron Wilson
; Description: PIAT | Contact, EJS View.
;=============================================
-->

<% include header %>

    <div id="contact" role="main" class="container">

      <br/><br/>

      <h2>Welcome to the <%=message %>!</h2>
    </div>

<% include footer %>
