    <!--
;============================================
; Title:  Assignment 3.4 | footer.ejs
; Author: Richard Krasso
; Date:   March 29 2019
; Modified By: Aaron Wilson
; Description: PIAT | Footer, EJS View.
;=============================================
-->
    
    <script src="" async defer></script>

    <footer class="fixed-bottom bg-dark">

      <div class="footer-copyright text-white text-center py-3">© 2019 VisionsICStudios</div>
    </footer>
  </body>
</html>
